@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(Login\ Page\ Background.jpg) no-repeat center center/cover;
}

.wrapper {
    width: 400px;
    padding: 40px;
    background: transparent;
    border: 5px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(20px);
}
.wrapper h1 {
    font-size: 36px;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}
.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
    color: #fff;
}
.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 50px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    border-color: black;
    outline: 4px solid black;
    background: #fff;
    color: black;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
.wrapper .btn:hover {
    background: rgb(89, 160, 241);
    width: 100.5%;
    height: 65px;
}
.wrapper .register-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14.5px;
    color: #fff;
}

.register-link a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link a:hover {
    text-decoration: underline;
}